.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: center center;
}

@media (max-width: 767px) and (orientation: portrait) {
  .image {
    object-position: 60% center;
  }
}
